<!doctype html>
<html lang="en">
    <head>
        <title>Eshop Website</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style/style.css">
        <link rel="icon" href="/style/favicon.ico">

    </head>
    <body>
        <ul>
            <li><a href="/eshop/index">Index</a></li>
            <li><a href="/eshop/category">Category</a></li>
            <li><a href="/eshop/product">Product</a></li>
            <li><a href="/eshop/customer">Customer</a></li>
            <li><a href="/eshop/order">Orders</a></li>
            <li><a href="/eshop/about">About</a></li>
            <li><a href="/eshop/create">Create</a></li>
        </ul>
    </body>
</html>