<%- include("../partials/header"), {title: title}; %>
<h3>Those behind this eshop.</h3>
<p>Abduvohid Ilhomov (abil23), Karam Matar (kamt23)</p>
<p>Created for the course and moment <a href="https://dbwebb.se/kurser/databas-v2/kmom05">databas</a> at BTH.</p>

<%- include("../partials/footer"); %>
