<%- include("../partials/header"), {title: title}; %>
<h1>Welcome to the E-SHOP</h1>
<p>
    The products you want, when you want them!
</p>
<iframe src="https://giphy.com/embed/3o72F8t9TDi2xVnxOE" width="480" height="327" frameBorder="0" 
class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/shocked-monkey-stunned-3o72F8t9TDi2xVnxOE"></a></p>
<%- include("../partials/footer"); %>
