<%- include ("../partials/header"), {title: title} %>

<h1>Thanks for your order!</h1>

<p>Your order has been sent to the warehouse. We will send you a confirmation email when the order has been processed.</p>

<button class="button" onclick="window.location.href='/eshop/order'">Back to orders</button>

<%- include("../partials/footer"); %>